<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>jakobsProdukter</title>
</head>
<style>
    body {background-color: aqua;}
</style>
<body>


   <div class="container">
       <h1>JakobsProdukter</h1>
         <br>
            <h2>Her er dine muligheder</h2>
         <a href="/createProdukt"><button class = "btn btn-success">Opret produkt</button></a>
         <a href="/allProdukt"><button class = "btn btn-success">Vis alle produkter</button></a>
         <a href="/"><button class="btn btn-info">Tilbage til start billed</button></a>

   </div>
    <br>


</body>
</html>