<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <title>Produkt administration20200924</title>
</head>
<style>
    body {background-color: aqua;}
    button {color: mediumblue;}


</style>
<body>
  <header>
      <!--
      <nav class="navigation">
            <a href="/">Jakobs Web Shob </a>
            <a href="Produktadministration">Produkt Administration</a>


      </nav>
      -->
  </header>

     <div class="container">
         <h1>Velkommen til Jakobs webshob</h1>
      </div>

  <div class="container-fluid">
      <h1>  </h1>
      <p>Her kan du købe forskellige spændende produkter.</p>
      <p> </p>
      <div class="row">
          <div class="col-sm-4" style="background-color:lavender;">Tryk på den grønne bjælke til venstre</div>
          <div class="col-sm-4" style="background-color:springgreen"><a href="Produktadministration">Tryk her for at komme ind i systemet</a></div>
          <div class="col-sm-4" style="background-color:lavender;">  </div>
      </div>
  </div>
  <br>
  <!--
  <div class="container">
      <h2>Produkt administration</h2>


      <button type="button" class="btn btn-success"><a href="Produktadministration">Tryk her for at komme ind i systemet</a></button>
  </div>
  -->


</body>
</html>